@mixin hover() {
  fill: red;
}

body {
  background-color: #f7f6f5;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form {
  display: flex;
  padding: 50px;
  border-radius: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  row-gap: 30px;
  font-family: "Rubik", sans-serif;
  background-color: #cfcac6;
  &-title {
    text-transform: uppercase;
    font-size: 32px;
    letter-spacing: 1px;
    font-family: "Doto", sans-serif;
    font-weight: 700;
  }
  &-form {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    height: 30px;
  }
  &-input {
    background-color: #c2cacf;
    border: 1px dashed;
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 30px;
    padding-right: 30px;
  }
  &-write {
    position: relative;
  }
  &-button {
    position: absolute;
    background: transparent;
    border: none;
    width: 30px;
    // aspect-ratio: 1;
    height: 30px;
    top: 0;
    right: -1px;
    padding: 0;
    box-sizing: border-box;
    cursor: pointer;

    svg {
      transition-duration: 0.2s;
    }

    // &:hover {
    //   @include hover();
    // }
    &-edit {
      position: absolute;
      // display: flex;
      // background: url("../src/update-arrows-svgrepo-com.svg") center/contain
      //   no-repeat;
      // width: 25px;
      background-color: transparent;
      aspect-ratio: 1;
      border: none;
      cursor: pointer;
      top: 0.2em;
      right: 2.5em;
      padding: 0;
      box-sizing: border-box;
    }
  }
  &-list {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    width: 100%;
    &-alert {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &-done {
      text-decoration: line-through;
    }
  }
  &-item {
    display: flex;
    justify-content: space-between;
    margin-inline: 20px;
    background-color: #99afbd;
    padding: 5px;
    border-radius: 5px;
    align-items: center;
    animation: slideIn 0.5s forwards;
    transition-duration: 0.2s;

    &-button {
      // display: flex;
      // width: 20px;
      // aspect-ratio: 1;
      border: none;
      cursor: pointer;
      background-color: transparent;
      padding: 0;
      // &-remove {
      //   background: url("../src/garbage-svgrepo-com.svg") center/contain
      //     no-repeat;
      // }
      // &-edit {
      //   background: url("../src/edit-button-svgrepo-com.svg") center/contain
      //     no-repeat;
      // }
    }
    &-buttons {
      display: flex;
      column-gap: 5px;
    }
  }
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.display-none {
  display: none;
}

.svg-icon {
  fill: #030104;
  transition-duration: 0.2s;
}
.bg-color {
  background-color: #bdaf1c;
}

@media (hover: hover) {
  .svg-icon:hover {
    fill: #b51a12;
  }
  .form-button:hover svg {
    fill: #b51a12;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

.animationDelete {
  animation: slideOut 0.5s forwards;
}

@keyframes slideOut {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-20px);
    opacity: 0;
  }
}
